<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-envolope"></i>  O seu Email foi confirmado!</h1>
        <% include ./partials/messages %>
        <form action="/users/restorePassword" method="POST">
          <div class="form-group"></div>
           <p>Pode agora Autenticar-se e passar a ter acesso as funcionalidades da nossa plataforma. </p>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Compreendi</button>
        </form>
      </div>
    </div>
  </div>
  