<% if(user !== undefined ){ %>
    <li></li>
    <li class="nav-item"> <p style="padding-top:12px; color:white;">Bem-vindo <a style="color:black;" href="/users/account"> <%= user.name %> </a>! </p></li>
    <li class="nav-item"><a href="/users/logout" style="color:white;" class="nav-link">Logout</a></li>
    
<% } 
 else{ %>
    <li class="nav-item" ><a href="/users/login" class="nav-link" style="color:white;">Login</a></li>
    <li class="nav-item"><a href="/users/register" class="nav-link" style="color:white;">Registar</a></li>
<% } %>  