<style>
  .menutop {
    width: 100%;
    z-index: 100;


  }

  .logotipo {
    color: black;
    padding: 5px;

  }
</style>


<div class="menutop">
  <nav class="navbar sticky-top navbar-expand-lg  " style="background-color: #9c2c2c;">
    <div class="logotipo">

      <a style="color:white;" href="/">
        <img src="/images/logotipo.png" style="width:52px;height:50px; "> </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <%if (user !== undefined) { %>
            <%if (user.role === 'funcionario' || user.role === 'admin' ) { %>
        <div class="dropdown">
            
          <button class="dropbtn" style="color:white;">Utilizadores
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/users/userslist" class="nav-link">Todos Utilizadores</a>
          </div>
        </div>
        <% } %>
            <% } %>
        <div class="dropdown">
          <button class="dropbtn" style="color:white;">Animais
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/animals/animalsToAdoptList" class="nav-link">Para Adoção</a>
            <%if (user !== undefined) { %>
              <%if (user.role === 'funcionario' || user.role === 'admin' ) { %>
            <a href="/animals/adoptedAnimalsList" class="nav-link">Adoptados</a>
            <a href="/animals/animalsList" class="nav-link">Todos</a>
            <% } %>
            <a href="/animals/animalsFaves" class="nav-link">Meus Favoritos</a>
            <% } %>
            

          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" style="color:white;">Adoções
            <i class="fa fa-caret-down"></i>
          </button>
          
          <div class="dropdown-content">
              <%if (user !== undefined) { %>
                <%if (user.role === 'funcionario' || user.role === 'admin' ) { %>
            <a href="/adoption/adoptionList" class="nav-link">Todas Adoções</a>
            <% } %>
            <% } %>
            <a href="/adoption/adoptionStatus" class="nav-link">Progresso da Adoção</a>

          </div>
        </div>

        <div class="dropdown">
          <form action="/idealAnimal">
            <input class="dropbtn" style="color:white;" type="submit" value="Animal Ideal" />
          </form>
        </div>
        <div class="dropdown">
          <form action="/similarBreed">
            <input class="dropbtn" style="color:white;" type="submit" value="Raça Semelhante" />
          </form>

        </div>
    </div>

    </ul>
    <div class="dropdown">
      <ul class="nav navbar-nav navbar-right">
        <% include ./loginpartial %>
      </ul>
    </div>

  </nav>
</div>