





<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	
	
	
	<style>

html {
    overflow-y:scroll;
}
		body {
 		 	min-height: 100%;
  			padding: 0;
  			margin: 0;
		}

		.bigdivregister{
			
			padding:  0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			 
		}
			
		

		.imgdivregister{
			width: 50%;
			min-height: 100%;	 
			margin: 0;
			padding: 0;
			float: left;
			background-image: url('/images/dogs21.jpeg');
			background-size: cover;
      position: fixed;
		}

		.registerdivform{
			width: 50%;
			min-height: 100%;
			 padding-left: 25px;
			margin: 0;
			
			float: right;
		}

		.btnregister{
			width: 100%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			
			
            margin-top: 250px;
			
		}
		.redtext{
			color: #8C1213;
			font-size: 14px;
		}

		.redtext:hover{
			color:black;
		}

		.registertitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
		}

		.inputregister{
			
			background-color: lightgrey;
			width: 85%;
		}

		.labels{
			font-size: 16px;
		}

    .divider1{
      width: 50%;
			min-height: 100%;		 
			margin: 0;
			padding: 0;
			float: left;
    }

    .divider2{
      width: 50%;
			min-height: 100%;
			margin: 0;
			padding: 0;
			float: right;
    }

    .centerbtn { 
       justify-content: center; 
      }

      select{
          background-color: grey;
          color: white;
          width:80%;
      }










      .box {
  width: 40%;
  margin: 0 auto;

  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid grey;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #8C1213;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 7% auto;
  margin-left: 200px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  float: left;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8C1213;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.center{
	text-align: center;
}
.bold{
	font-weight: bolder;
}


			
	</style>
</head>

<body>

		<div class="bigdivregister">

				<div class="imgdivregister">

			

					</div>

					<div class="registerdivform">
              <div class="container-register100">

                  <div class="wrap-register100 " >
                    
                        
                      
                      <span class="intro-text" style="text-align: center;">
                          <h1 class="registertitle">ANIMAL IDEAL </h1>
                          <div class="box">
                                <a class="button" href="#popup1">Ajuda</a>
                            </div>
                            
                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <h2 class="center">Ajuda Animal Ideal</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                            <br>
                                            <p class="redtext">Seja o mais sincero possivel! </p>

    <br>
                                            <p class="">O animal ideal é um sistema de recomendação de animais presentes no canil mais parecidos à personalidade do utilizador. </p>
                                            <br>
                                            <p class="">Escolha as opções que mais se assemelham a si.</p>
                                            <p class="">O resultado irá ser uma lista de animais ideais para si e a sua respetiva compatibilidade</p>
                                            <br>
                                            <p class="bold center">Baixa Compatibilidade = 0  </p>
                                            <p class="bold center">  Alta Compatibilidade = 7 </p>

                                           
                                            
                                            
                                            
                                            
                                    </div>
                                </div>
                            </div>
                          <span style="text-align: center;">Preencha o formulário abaixo para descobrir qual o animal ideal para si!</span>
                          
                      </span>
                      <form action="/idealAnimal/animals" method="POST">
                      <div class="divider1">
                            <br action="/idealAnimal/animals" method="POST">
                                <label for="question1">É uma pessoa ativa?</label>
                                <select id="question1" name="question1">
                                    <option value="Muito Ativa">Muito Ativa</option>
                                    <option value="Ativa">Ativa</option>
                                    <option value="Calma">Calma</option>
                                    <option value="Muito Calma">Muito Calma</option>
                                </select>
                                
                                <br>
                            <br>
                                <label for="question2">Possui espaço livre para um animal novo? </label>
                                <select id="question2" name="question2">
                                    <option value="Muito Espaço">Muito Espaço</option>
                                    <option value="Espaço Suficiente">Espaço Suficiente</option>
                                    <option value="Pouco Espaço">Pouco Espaço</option>
                                </select>
                                
                                <br>
                            <br>
                                <label for="question3">É uma pessoa social?</label>
                                <select id="question3" name="question3">
                                    <option value="Muito Social">Muito Social</option>
                                    <option value="Relativamente Social">Relativamente Social</option>
                                    <option value="Pouco Social">Pouco Social</option>
                                </select>
                                
                                <br>
                            <br>

                    </div>
            
                      <!-- <div class="wrap-input100 ">
                        <label for="role">Tipo de Utilizador</label>
                        <select type="role" id="role" name="role" class="input100">
                          <option value="funcionario">Funcionário</option>
                          <option value="utilizador">Nenhum</option>
                        </select>
                        <span class="focus-input100" data-placeholder=""></span>
                      </div> -->
                      <div class="divider2">
                            <label for="question4">Prefere?</label>
                            <select id="question4" name="question4">
                                <option value="Macho">Macho</option>
                                <option value="Fêmea">Fêmea</option>
                                <option value="Indiferente">Indiferente</option>
                            </select>
                            
                            <br>
                            <br>
                            </select>
                            <label for="question5">Mora?</label>
                            <select id="question5" name="question5">
                                <option value="Cidade">Na cidade</option>
                                <option value="Campo">No campo</option>
                            </select>
                            
                            <br>
                            <br>
                            </select>
                            <label for="question6">Tem crianças?</label>
                            <select id="question6" name="question6">
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                            
                            <br>
                      
                      <br>
                            </select>
                            <label for="question7">Qual a razão para adquirir um cão?</label>
                            <select id="question7" name="question7">
                                <option value="Companhia">Companhia</option>
                                <option value="Segurança">Segurança</option>
                                <option value="Mais ativo">Para me tornar mais ativo</option>
                                <option value="Companhia Criança">Companhia a crianças</option>
                            </select>
                      
                        </br>
                    </div>
                </br>
                    <div class="container-register100-form-btn centerbtn ">
                        
                            <button type="submit" class="register100-form-btn btnregister" >
                               Descobrir
                            </button>
                
                          </div>
                </form>

                  </div>
                  
                </div>
                
			

						</div>

		</div>




		
</body>

</html>





































