<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<style>
  .logintitle {
    font-family: 'Raleway', sans-serif;
    color: #8C1213;
  }

  .animal-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 250px;
    display: inline-block;
    margin: 10px;

  }

  .imgcontainer {
    position: relative;
  }

  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.274);
    color: #8C1213;
    padding: 5px;
  }

  .w3-container {
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .animalname {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  a {
    font-family: Poppins-Regular;
    font-size: 17px;
  }



  .animal-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
  }

  .centerbtn {
    display: flex;
    justify-content: center;
  }

  .btnregister {
    width: 30%;
    min-height: 100%;
    border: 2px solid #8C1213;
    background-color: #8C1213;
    margin: 0;
    padding: 0;

  }
</style>

<body>
  <span class="intro-text" style="text-align: center;">
    <h1 class="logintitle">ANIMAIS IDEAIS </h1>
    <br>
    <p  style="text-align: center;">Abaixo encontra-se a lista de animais ideais para si! 
    </p>
    <br>
    <p  style="text-align: center;">Baixa Compatibilidade = 0 </p>
    <br>
    <p  style="text-align: center;">Alta Compatibilidade = 7</p>
    <br>
  </span>

  <form action="/animals/sortLikesToAdopt" method="POST">
    <div class="container-register100-form-btn centerbtn ">
      
    </div>
  </form>


  <div class="div-animal">
    <% for(var i=0; i < list.length; i++) { %>
      <%if (list[i].animal.adopted === false) { %>
        
        
    <div class="animal-card">


      <div class="imgcontainer">
        <a href="../animals/detail/<%= list[i].animal.id %>">
          <img class="animalimg"
            src='<%= (list[i].animal.picture) ? ("data:image/jpg;base64," + list[i].animal.picture) : "/images/logotipo.png" %>'
            alt="animal" style="width:250px;height:250px;">
        </a>
        <div class="bottomright">
          Compatibilidade: &nbsp <%= list[i].points %>
        </div>

      </div>

      <div class="w3-container">
        <a class="animalName" href="../animals/detail/<%= list[i].animal.id %>"><%= list[i].animal.name %></a>
        <% if(list[i].animal.gender === "female"){ %>
        <img src="/images/female.png" style="width:15px;height:15px;">
        <% } else{ %>
        <img src="/images/male.png" style="width:15px;height:15px;">
        <% } %>


      </div>
    </div>
    <% } %>
    <% } %>

</body>

</html>