<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	
	
	
	<style>
		body {
 		 	min-height: 100%;
  			padding: 0;
  			margin: 0;
		}

		.bigdivlogin{
			
			padding:  0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			 
		}
			
		

		.imgdivlogin{
			width: 50%;
			min-height: 100%;
			 
			margin: 0;
			padding: 0;
			float: left;
			background-image: url('/images/dogs18.jpeg');
			background-size: cover;
		}

		.logindivform{
			width: 50%;
			min-height: 100%;
			 
			margin: 0;
			padding: 0;
			float: right;
		}

		.btnlogin{
			width: 50%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;

			margin: 0;
			padding: 0;
			float: right;
		}
		.redtext{
			color: #8C1213;
			font-size: 14px;
		}

		.redtext:hover{
			color:black;
		}

		.logintitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
		}

		.inputlogin{
			border-radius: 15%;
			background-color: lightgrey;
			width: 100%;
		}

		.labels{
			font-size: 16px;
		}
			
	</style>
</head>

<body>

		<div class="bigdivlogin">

				<div class="imgdivlogin">

			

					</div>

					<div class="logindivform">
<div class="container-login100">
			<div class="wrap-login100">
				<% include ./partials/messages %>
				<form class="login100-form validate-form" action="/users/login" method="POST">

					

					<span class="intro-text" style="text-align: center;">
							<h1 class="logintitle">LOG IN </h1>
							<br>
					</span>

					<div class="wrap-input100 validate-input" data-validate="Insira o E-mail">


							<p class="labels">E-mail </p>
						<input type="email" id="email" name="email" class="input100 inputlogin" placeholder="E-mail" />

						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Insira Password">
							<p class="labels">Password </p>
						<input type="password" id="password" name="password" class="input100 inputlogin" placeholder="Password" />

						
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Lembrar-me
						</label>
					</div>

					<div class="container-login100-form-btn">
							
						<button type="submit" class="login100-form-btn btnlogin" >
							Login
						</button>

					</div>

				</form>
				<br>
				<div class="text-center  ">
					<a class="txt1 redtext" href="/users/restorePassword">
						Esqueceu-se da Password?
					</a>
					<br>
					<a class="txt1 redtext" href="/users/register">
						Não tem conta?
					</a>

				</div>

			</div>
		</div>
			

						</div>

		</div>




		
</body>

</html>





