<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	
	
	
	<style>
		body {
 		 	min-height: 100%;
  			padding: 0;
  			margin: 0;
		}

		.bigdivregister{
			
			padding:  0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			 
		}
			
		
    html {
    overflow-y:scroll;
}
		.imgdivregister{
			width: 50%;
			min-height: 100%;	 
			margin: 0;
			padding: 0;
			float: left;
			background-image: url('/images/dogs6.jpeg');
			background-size: cover;
			position: fixed;
		}

		.registerdivform{
			width: 50%;
			min-height: 100%;
			 padding-left: 25px;
			margin: 0;
			
			float: right;
		}

		.btnregister{
			width: 50%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 0;
			padding: 0;
			
		}
		.redtext{
			color: #8C1213;
			font-size: 14px;
		}

		.redtext:hover{
			color:black;
		}

		.registertitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
		}

		.inputregister{
			
			background-color: lightgrey;
			width: 85%;
			color: black;
		}

		.labels{
			font-size: 16px;
		}

    .divider1{
      width: 50%;
			min-height: 100%;		 
			margin: 0;
			padding: 0;
			float: left;
    }

    .divider2{
      width: 50%;
			min-height: 100%;
			margin: 0;
			padding: 0;
			float: right;
    }

    .centerbtn { 
      display: flex; justify-content: center; 
      }



	  .box {
  width: 40%;
  margin: 0 auto;

  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid grey;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #8C1213;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5%;
  margin-left: 200px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  float: left;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8C1213;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.center{
	text-align: center;
}
.bold{
	font-weight: bolder;
}




			
	</style>
</head>

<body>

		<div class="bigdivregister">

				<div class="imgdivregister">

			

					</div>

					<div class="registerdivform">
              <div class="container-register100">

                  <div class="wrap-register100 " >
                    <% include ./partials/messages %>
                    
                      
                      <span class="intro-text" style="text-align: center;">
                          <h1 class="registertitle">REGISTAR </h1>
						  
						  
					  </span>
					  <div class="box">
							<a class="button" href="#popup1">Ajuda Registo</a>
						</div>
						
						<div id="popup1" class="overlay">
							<div class="popup">
								<h2 class="center">Ajuda</h2>
								<a class="close" href="#">&times;</a>
								<div class="content">
										<br>
										<p class="redtext">Todos estes campos são obrigatórios excepto o contacto telefónico! </p>

										<p class="bold">Nome </p>
										
										Insira o seu nome completo.</p>
										
										<p class="bold">E-mail</p>
										
										<p class="">Insira o seu e-mail pessoal. O e-mail tem de ser válido pois irá ser verificado. </p>
										
										<p class="bold">Morada</p>
										
										<p class="">Insira a sua morada atual.</p>
										
										
										<p class="bold">Data de Nascimento</p>
										
										<p class="">Insira a sua data de nascimento. Precisa de ser maior de 16 anos.</p>
										
										<p class="bold">Password</p>
										
										<p class="">Insira a sua password. Necessita de pelo menos 6 caracteres.</p>
										
										
								</div>
							</div>
						</div>
					  <form class="register100-form validate-form" action="/users/register" method="POST">
                      <div class="divider1">
                      <div class="wrap-input100 validate-input" data-validate="Insira o Nome">
                          <p class="labels">Nome </p>
                        <input type="name" id="name" name="name" class="input100 inputregister" placeholder=""
                          value="<%= typeof name != 'undefined' ? name : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
            
                      
            
            
                      <div class="wrap-input100 validate-input" data-validate="Insira Data de Nascimento">
                          <p class="labels">Data de Nascimento </p>
                        <input type="date" id="birthdate" name="birthdate" class="input100 inputregister" placeholder="Data de Nascimento"
                          value="<%= typeof birthdate != 'undefined' ? birthdate : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
            
                      <div class="wrap-input100 ">
                          <p class="labels">Morada </p>
                        <input type="address" id="address" name="address" class="input100 inputregister" placeholder=""
                          value="<%= typeof address != 'undefined' ? address : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
            
            
                      <div class="wrap-input100 ">
                          <p class="labels">Contacto Telefónico (opcional) </p>
                        <input type="phone" id="phone" name="phone" class="input100 inputregister" placeholder=""
                          value="<%= typeof phone != 'undefined' ? phone : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>

                    </div>
            
                      <!-- <div class="wrap-input100 ">
                        <label for="role">Tipo de Utilizador</label>
                        <select type="role" id="role" name="role" class="input100">
                          <option value="funcionario">Funcionário</option>
                          <option value="utilizador">Nenhum</option>
                        </select>
                        <span class="focus-input100" data-placeholder=""></span>
                      </div> -->
                      <div class="divider2">
                      <div class="wrap-input100 validate-input" data-validate="Insira Email">
                          <p class="labels">E-mail </p>
                        <input type="email" id="email" name="email" class="input100 inputregister" placeholder=""
                          value="<%= typeof email != 'undefined' ? email : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
                      <div class="wrap-input100 validate-input" data-validate="Insira Password">
                          <p class="labels">Password </p>
                        <input type="password" id="password" name="password" class="input100 inputregister" placeholder=""
                          value="<%= typeof password != 'undefined' ? password : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
            
            
                      <div class="wrap-input100 validate-input" data-validate="Insira Password">
                          <p class="labels">Confirmar Password </p>
                        <input type="password" id="password2" name="password2" class="input100 inputregister" placeholder=""
                          value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                      </div>
                      <br>
                      <div class="container-register100-form-btn centerbtn ">
							
                          <button type="submit" class="register100-form-btn btnregister" >
                              Registar
                          </button>
              
                        </div>
                      <br>
                      
                    </div>
                    <div style="text-align: center;">
                    <a class="txt1 redtext" href="/users/login" >
                      Já tem conta? Fazer Login
                    </a>
                  </div>
                  </div>
                </div>
			

						</div>

		</div>




		
</body>

</html>





