<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-key"></i>  Recuperar Palavra-Passe</h1>
        <% include ./partials/messages %>
        <form action="/users/restorePassword" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Inserir Email"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submeter</button>
        </form>
      </div>
    </div>
  </div>
  