
<h1>Atualizar cargo</h1>
<form action="/users/role" method="POST">
    <input type="hidden" id="email" name="email" value="<%= email %>">
    <fieldset id="radiorole">
        <input type="radio" name="role" value="funcionario"> Funcionário<br>
        <input type="radio" name="role" value="utilizador" checked> Utilizador<br>
    </fieldset>
    <button type="submit">Guardar</button>
</form>