
<h1>Todos os utilizadores</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>cargo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < list.length; i++) { %>
    <tr>
      <td><%= list[i]._id %></td>
      <td><%= list[i].name %></td>
      <td><%= list[i].email %></td>
      <td><%= list[i].role %></td>
      <td><a class="rolechange" href="role/<%= list[i].email %>">Editar cargo</a></td>
    </tr>
    <% } %>
  </tbody>
</table>