<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

    <style>
    
    #adocao-passos{
	width:100%;
	padding:80px 0 20px 0;
	text-align:center;
}

#adocao-passos h1{
	width:100%;
	padding:0;
	margin:0;
	font-weight:300;
	text-align:center;
	margin-bottom:60px;
}

#adocao-passos .arrow{
	position:absolute;
	display:flex;
	border-right-color:rgb(212, 217, 220);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgb(212, 217, 220);
	border-top-style:solid;
	border-top-width:1px;
	width:30px;
	height:30px;
	top:35%;
	right:0;
	transform:matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
	-webkit-font-smoothing:antialiased;
}

#adocao-passos img{
	display:block;
	height:120px;
	margin-bottom:30px;
}

#adocao-passos .passo{
	margin-bottom:60px;
}

#adocao-passos .passos-number{
	position:absolute;
	left:15px;
	bottom:0;
	display:inline-block;
	width:60px;
	height:60px;
	font-size:18px;
	line-height:58px;
	color:rgb(80,80,80);
	border:1px solid rgb(80,80,80);
	border-radius:50%;
}

#adocao-passos .passos-text{
	overflow:auto;
	display:block;
	padding-left:75px;
	color:rgb(80,80,80);
	height:100px;
  font-size: 15px;
}

#adocao-passos .passos-text table{
	overflow:auto;
	width:100%;
	height:100%;
	text-align:left;
}

.centericonimg{
display: block;
  margin-left: auto;
  margin-right: auto;
 
}
    </style>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

    <% include ./partials/messages %>
    <section class="site-blocks-cover overflow-hidden bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mr-auto align-self-center text-center text-md-left">
            <div class="intro-text">
              <h1>Procura um novo amigo?</h1>
              <p class="mb-4" > 

                Todos os animais merecem uma vida cheia de amor e carinho. Você pode fazer a diferença. Não compre, adote! </p>
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  
                  <li><a href="#about-section" class="nav-link btn btn-primary">Saber Mais</a></li>
                  
                </ul>
  
              
            </div>
          </div>
          <div class="col-md-5 align-self-center text-center text-md-right">
            <img src="images/dogs8.jpeg" alt="Image" class="img-fluid cover-img">
            <img src="images/dogs7.jpeg" alt="Image" class="img-fluid cover-img2">
          </div>
        </div>
      </div>
    </section> 

    <section class="site-section" id="about-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            
            <h2 class="text-black mb-2">Bem-vindo(a) ao nosso Website</h2>
            <p>Somos uma instituição que acolhe cães abandonados. Temos dezenas de animais que esperam ansiosamente por um lar. Será você o herói de um deles? 
            </p>
          </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-left">
                <a href="#" class="rotate10">
                  <img src="images/dogs1.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-right">
                <h2 class="text-black">Quer adotar?</h2>
                <p class="mb-4">Veja aqui a lista dos animais disponíveis para adoção.</p>
                <p class="mb-4">Temos muitos para escolher!</p>
                <p><a href="/animals/animalsToAdoptList" class="btn btn-primary">Animais</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-right">
                <a href="#" class="rotate-reverse10">
                  <img src="images/dogs2.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-left">
                <h2 class="text-black">Não sabe qual animal escolher?</h2>
                <p class="mb-4">Preencha o nosso rápido questionário e descubra qual o animal perfeito para si!</p>
                <p><a href="/idealanimal" class="btn btn-primary">Animal Ideal</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row hover-1-wrap mb-5 mb-lg-0">
            <div class="col-12">
              <div class="row">
                <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-left">
                  <a href="#" class="rotate10">
                    <img src="images/dogs16.jpeg" alt="Image" class="img-fluid">
                  </a>
                </div>
                <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-right">
                  <h2 class="text-black">Procura uma raça específica?</h2>
                  <p class="mb-4"> Na nossa instituição, a maior parte dos animais têm raça indefinida no entanto, pode escolher uma raça e nós iremos devolver os animais com as características físicas e psicológicas mais parecidas à raça escolhida.</p>
                  <p><a href="similarBreed" class="btn btn-primary">Raça Similar</a></p>
                </div>
              </div>
            </div>
          </div>
        

      </div>
    </section>


    <section class="site-section bg-light trainers" id="trainers-section">
      <div class="container">
        <div class="row">
         
          
          <div class="ml-auto align-self-center" >
              <div id="adocao-passos">
                  <div class="container">
                      <h1>Adoção Passo a Passo</h1>
                       <div class="col-sm-12">
                          <div class="col-sm-4 passo">
                              
                                <img src="/images/login.png"  class="centericonimg"/>
                              
                               <div class="passos-number">
                                 1
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                        Se for um novo visitante registe-se e depois efetue o login.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                           <div class="col-sm-4 passo">
                              
                                <img src="/images/dogicon.png" class="centericonimg"/>
                               
                               <div class="passos-number">
                                  2
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                      Vá à lista de animais, escolha um animal ou faça o nosso questionário do animal ideal.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                           <div class="col-sm-4 passo">
                              
                                <img src="/images/adotar_icon.png" class="centericonimg" style="width:225px;height:100px;"/>
                              <br>
                               <div class="passos-number">
                                  3
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                      Após ter escolhido o animal que quer adotar, clique em adotar.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4 passo">
                              
                                <img src="/images/form.png" class="centericonimg"/>
                               
                               <div class="passos-number">
                                  4
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                      Preencha o formulário de condições de pré-adoção e aguarde resposta.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                            <div class="col-sm-4 passo">
                              
                                <img src="/images/progress-bar.png" class="centericonimg"/>
                              
                              <div class="passos-number">
                                  5
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                          Enquanto aguarda uma resposta ao seu pedido, pode ir acompanhando o progresso.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                           <div class="col-sm-4 passo">
                              
                                <img src="/images/dogfinal.png" class="centericonimg"/>
                              
                              <div class="passos-number">
                                  6
                              </div>
                               <div class="passos-text">
                                  <table>
                                      <tr><td>
                                      Se o seu pedido for aceite é só deslocar-se às nossas instalações e ir buscar o seu novo membro da família.
                                       </td></tr>
                                   </table>
                               </div>
                           </div>
                        </div>
                    </div>
                 </div>
            
          </div>
        </div>
      </div>
    </section>

    

    <section class="site-section" id="faq-section">
      <div class="container" id="accordion">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            
            <h2 class="text-black mb-2">PERGUNTAS E RESPOSTAS</h2>
            <p></p>
          </div>
        </div>
        <div class="row accordion justify-content-center block__76208">
          <div class="col-lg-6 order-lg-1 mb-5 mb-lg-0" data-aos="fade-up"  data-aos-delay="">
            <img src="images/dog_5.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 ml-auto order-lg-2 align-self-center" data-aos="fade-up"  data-aos-delay="100">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">Onde são as vossas instalações?<span class="icon"></span></a>
              </h3>
              <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Quinta das Rebelas, 2830 Barreiro, Portugal</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">Qual é o vosso contacto telefónico? <span class="icon"></span></a>
              </h3>
              <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>212068625</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">Qual é o horário de funcionamento? <span class="icon"></span></a>
              </h3>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Horário de atendimento ao público: segunda a sexta-feira, das 14:00h às 17:00h e sábados, das 10:00h às 13:00h.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">Paga-se para adotar?<span class="icon"></span></a>
              </h3>
              <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Não. Não se paga pelo processo de adoção no entanto aceitamos doações caso as pessoas estejam interessadas em ajudar.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

          </div>

          
        </div>
      </div>
    </section>

    


    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">Sobre nós</h2>
                <p>A Quinta do Mião é uma Associação Protectora de Animais, sem fins lucrativos, situada no Barreiro.</p>
              </div>
              
              
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="footer-heading mb-4">Projeto Académico | Gestão de Projetos</h1>
            
            <ul class="footer-heading mb-4">
                <li> -Mariana Luciano - 160221030</li>
                <li> -Inês Antunes - 160221061</li>
                <li> -Miguel Figueira - 160221026</li>
                <li> -Victor Xavier - 160221023</li>
               
              </ul>

            
              
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>

  
  <script src="js/main.js"></script>

  
  </body>
</html>