<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	
	
	
	<style>

.btnregister{
    width: 50%;
    min-height: 100%;
    border:2px solid #8C1213;  
    background-color: #8C1213;
    margin: 0;
    padding: 0;
    
}

.logintitle {
    font-family: 'Raleway', sans-serif;
    color: #8C1213;
  }

  .allbreeds{
      align-content: center;
      width: 100%;
      margin: 0;
  }


 form{
     text-align: center;
     align-content: center;
     margin: 0 auto;
 }

 .btnregister{
			width: 100%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 0 auto;
			padding: 0;
			
		}

        .centerbtn { 
      display: flex; justify-content: center; 
      }
			
      .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  margin-top: 15%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8C1213;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.center{
	text-align: center;
}
.bold{
	font-weight: bolder;
}
</style>
</head>

    <span class="intro-text" style="text-align: center;">
        <h1 class="logintitle">Qual a raça de animal que procura?  </h1>
        <br>
        <div class="box">
                <a class="button" href="#popup1">Ajuda </a>
            </div>
            
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Ajuda Raça Semelhante</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                            <br>
                            <p>  Selecione uma raça, clique em submeter e irá aparecer uma listagem dos animais no albergue com as características físicas e psicológicas mais semelhantes à raça que esteja a procura. </p>
                                    <p> Se existirem animais da raça que procura, estes irão aparecer primeiro.</p>

                    </div>
                </div>
            </div>
      </span>

      <div class="allbreeds">
<form  action="/similarBreed/similarBreed" method="POST">
    <input class="inputradio" type="radio" name="breed" value="Beagle"> <img src="/images/Beagle.jpg" style="width:150px;height:150px;" aria-label="Beagle">
    <input type="radio" name="breed" value="Boxer"> <img src="/images/Boxer.jpg" style="width:150px;height:150px;" aria-label="Boxer">
    <input type="radio" name="breed" value="Bulldog"> <img src="/images/Bulldog.jpg" style="width:150px;height:150px;" aria-label="Bulldog"> <br><br>
    <input type="radio" name="breed" value="Cavalier"> <img src="/images/Cavalier.jpg" style="width:150px;height:150px;" aria-label="Cavalier">
    <input type="radio" name="breed" value="Corgi"> <img src="/images/Corgi.jpg" style="width:150px;height:150px;" aria-label="Corgi">
    <input type="radio" name="breed" value="Dachshund"> <img src="/images/Dachshund.jpg" style="width:150px;height:150px;" aria-label="Dachshund"> <br><br>
    <input type="radio" name="breed" value="Doberman"> <img src="/images/Doberman.jpg" style="width:150px;height:150px;" aria-label="Doberman">
    <input type="radio" name="breed" value="German Shepherd"> <img src="/images/German-Shepherd.jpg" style="width:150px;height:150px;" aria-label="German Shepherd">
    <input type="radio" name="breed" value="Golden Retriever"> <img src="/images/Golden-Retriever.jpg" style="width:150px;height:150px;" aria-label="Golden Retriever"> <br><br>
    <input type="radio" name="breed" value="Husky"> <img src="/images/Husky.jpg" style="width:150px;height:150px;" aria-label="Husky">
    <input type="radio" name="breed" value="Labrador Retriever"> <img src="/images/Labrador-Retriever.jpg" style="width:150px;height:150px;" aria-label="Labrador Retriever">
    <input type="radio" name="breed" value="Poodle"> <img src="/images/Poodle.jpg" style="width:150px;height:150px;" aria-label="Poodle"> <br><br>
    <input type="radio" name="breed" value="Rottweiler"> <img src="/images/Rottweiler.jpg" style="width:150px;height:150px;" aria-label="Rottweiler">
    <input type="radio" name="breed" value="Shih tzu"> <img src="/images/Shih-Tzu.jpg" style="width:150px;height:150px;" aria-label="Shih tzu">
    <input type="radio" name="breed" value="Yorkshire"> <img src="/images/Yorkshire.jpg" style="width:150px;height:150px;" aria-label="Yorkshire"> <br><br>
    <button type="submit" class="register100-form-btn btnregister centerbtn" >
            Submeter
        </button>
</form>
</div>