<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!--===============================================================================================-->
  <style>

  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    label {
      font-size: 18px;
    }

    .one, .two, .three, .four{
    position:absolute;
	  margin-top:-10px;
  	z-index:1;
	  height:40px;
	  width:40px;
	  border-radius:25px;
	
}
.one{
	left:25%;
}
.two{
	left:50%;
}
.three{
	left:75%;
}
.four{
  left:96%;
}


.pendente{
	width:10%;
  text-align: left;
  display: inline-block;
}
.analise{
	width: 15%;
  text-align: right;
  display: inline-block;
}
.aceite{
	width: 23%;
  text-align: right;
  display: inline-block;
}
.rejeitada{
  width: 15%;
  text-align: right;
  display: inline-block;
}

.espera{
  width: 27%;
  text-align: right;
  display: inline-block;
}

.realizada{
  width: 18%;
  text-align: right;
  display: inline-block;
}

.progressnames{
  width:100%;
}


.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

  </style>
</head>

<body>

    <% for(var i=0; i < list.length; i++) { %>
      Referência do Animal: 
      <%= list[i].animal %>
    <div class="container">
        <div class="row"><br />
          <div class="col-md-12">

            <div class="progress">
                <%if (list[i].adoptionStatus === "pendente") { %>
              <div class="one no-color"></div><div class=" two no-color"></div><div class="three no-color"></div><div class="four no-color"></div>
              <div class="progress-bar" style="width: 0%;"></div>
              <% } %>

              <%if (list[i].adoptionStatus === "analise") { %>
                <div class="one warning-color"></div><div class=" two no-color"></div><div class="three no-color"></div><div class="four no-color"></div>
                <div class="progress-bar warning-color" style="width: 25%;"></div>
                <% } %>

                <%if (list[i].adoptionStatus === "aceite") { %>
                  <div class="one success-color"></div><div class=" two success-color"></div><div class="three no-color"></div><div class="four no-color"></div>
                  <div class="progress-bar success-color" style="width: 53%;"></div>
                  <% } %>

                  <%if (list[i].adoptionStatus === "em espera") { %>
                    <div class="one primary-color"></div><div class=" two primary-color"></div><div class="three primary-color"></div><div class="four no-color"></div>
                    <div class="progress-bar primary-color" style="width: 77%;"></div>
                    <% } %>

                    <%if (list[i].adoptionStatus === "realizada") { %>
                      <div class="one success-color"></div><div class=" two success-color"></div><div class="three success-color"></div><div class="four success-color"></div>
                      <div class="progress-bar success-color" style="width: 103%;"></div>
                      <% } %>

                      <%if (list[i].adoptionStatus === "rejeitada") { %>
                        <div class="one danger-color"></div><div class=" two danger-color"></div><div class="three danger-color"></div><div class="four danger-color"></div>
                        <div class="progress-bar danger-color" style="width: 103%;"></div>
                        <% } %>

                        <%if (list[i].adoptionStatus === "cancelada") { %>
                          <div class="one danger-color"></div><div class=" two danger-color"></div><div class="three danger-color"></div><div class="four danger-color"></div>
                          <div class="progress-bar danger-color" style="width: 103%;"></div>
                          <% } %>
                          
                          



                          </div>
                          <div class="progressnames">
                              <div class="pendente">
                                Pendente
                              </div>
                              <div class="analise">
                                Em análise
                              </div>
                              <div class="aceite">
                                Aceite
                              </div>
                              <div class="espera">
                                Em espera
                              </div>
                              <div class="realizada">
                                Realizada
                              </div>
                              <!-- <div class="cancelada">
                                Cancelada
                              </div>
                              <div class="rejeitada">
                                Rejeitada
                              </div> -->
  

            </div>

          
        </div>
        <br>
        </div>
        <br>
      </div>
      <% } %>

    


            
            
          
          
         
      
        
         
          <br>
      
  
  </div>

  
</body>

</html>