<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/util.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--===============================================================================================-->
  <style>
    body {
      background: url(/images/dog.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    label {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="limiter">
    <div class="container-login100">

      <div class="wrap-login100">
        <% include ../partials/messages %>
        <form class="login100-form validate-form" action="/adoption/create" method="POST">
          <img src="/images/logotipo.png" style="width:150px;height:150px; " class="center">
          <span class="login100-form-title p-b-34 p-t-27">
            Criar Adoção
          </span>

          <div class="wrap-input100 validate-input" data-validate="Animal">
            <label for="animal">Animal</label>
            <input type="text" id="animal" name="animal" class="input100" placeholder=""
              value="" />
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Adotante">
            <label for="userAdopt">Adotante</label>
            <input type="text" id="userAdopt" name="userAdopt" class="input100" placeholder=""
              value=""  />
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Responsável pela adoção">
            <label for="userWorker">Responsável pela adoção</label>
            <input type="text" id="userWorker" name="userWorker" class="input100" placeholder=""
              value="<%= user.name %>" readonly/>
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Data Adoção">
            <label for="adoptionDate">Data Adoção</label>
            <input type="date" min="<%= minDate %>" id="adoptionDate" name="adoptionDate" class="input100" placeholder="Data de Nascimento"
              value="<%= minDate %>" />
            <span class="focus-input100" data-placeholder=""></span>
          </div>


          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Guardar
            </button>
          </div>
          <br>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>

</body>

</html>
>>>>>>> master
