<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/util.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--===============================================================================================-->
  <style>
  
     
  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    label {
      font-size: 18px;
    }
  .greenButton {
  background-color: rgba(89, 226, 89, 0.781);
  border: rgba(89, 226, 89, 0.781);
  
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.greenButton:hover {
  background-color:green;
  color: white;
}
.redButton {
  background-color: rgba(146, 14, 14, 0.712);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.redButton:hover {
  background-color:darkred;
  color: white;
}

.blackButton {
  background-color: black;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.blackButton:hover {
  background-color:grey;
  color: black;
}

.center{
  text-align: center;
}

.logintitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
		}

  </style>
</head>

<body>

    <div class="container-login100">

      <div class="wrap-login100">
        <% include ../partials/messages %>
         
        <span class="intro-text" style="text-align: center;">
            <h1 class="logintitle">DETALHES DA ADOÇÃO </h1>
            <br>
        </span>
          <div >
          <dl style="font-size: 170%; text-align: center">
            <dt>Animal</dt>
            <dd><%= animalName %></dd>
            <dt>Adotante</dt>
            <dd><%= username %></dd>
            <dt>Responsável pela adoção</dt>
            <dd><%= adopt.userWorker %></dd>
            <dt>Data Adoção</dt>
            <dd><%= adoptDate %></dd>
            <dt>Status</dt>
            <dd><%= adopt.adoptionStatus %></dd>
          </dl>
          <div class="container-login100-form-btn">
          
          <div>
              <%if (adopt.adoptionStatus === "analise") { %>
                <div class= "center">
                  <form class="login100-form validate-form" action="/adoption/update/accept" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "greenButton" type="submit">Aceitar Pedido de Adoção</button>
                  </form>
                  <form class="login100-form validate-form" action="/adoption/update/deny" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "redButton" type="submit">Rejeitar Pedido de Adoção</button>
                  </form>
                  <button class= "blackButton" onclick="location.href = '/adoption/adoptionList';"  >Voltar</button>
                </div> 
               <% } %>

               <%if (adopt.adoptionStatus === "aceite") { %>
                <div class= "center">
                  <form class="login100-form validate-form" action="/adoption/update/waiting" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "greenButton" type="submit">Animal Pronto Para Nova Casa</button>
                  </form>
                  <form class="login100-form validate-form" action="/adoption/update/canceled" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "redButton" type="submit">Cancelar Adoção</button>
                  </form>
                  <button class= "blackButton" onclick="location.href = '/adoption/adoptionList';"  >Voltar</button>
                </div> 
               <% } %>

               <%if (adopt.adoptionStatus === "em espera") { %>
                <div class= "center">
                  <form class="login100-form validate-form" action="/adoption/update/completed" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "greenButton" type="submit">Adoção Realizada</button>
                  </form>
                  <form class="login100-form validate-form" action="/adoption/update/canceled" method="POST">
                    <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                    <button  class= "redButton" type="submit">Cancelar Adoção</button>
                  </form>
                  <button class= "blackButton" onclick="location.href = '/adoption/adoptionList';"  >Voltar</button>
                </div> 
               <% } %>
               
               
        </div>
        
          </div>
          <br>
      </div>
  
  </div>

  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>

</body>

</html>

