<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	    
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	
	
	
	<style>
		body {
 		 	min-height: 100%;
  			padding: 0;
  			margin: 0;
		}

		.bigdivregister{
			
			padding:  0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			 
		}
			
		

		.imgdivregister{
			width: 50%;
			min-height: 100%;	 
			margin: 0;
			padding: 0;
			float: left;
			background-image: url('/images/dogs22.jpeg');
			background-size: cover;
      position: fixed;
      
		}

		.registerdivform{
			width: 50%;
			min-height: 100%;
			 padding-left: 5%;
			margin: 0;
			
			float: right;
		}

		.btnregister{
			width: 95%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 0;
			padding: 0;
			
		}
		.redtext{
			color: #8C1213;
			font-size: 14px;
		}

		.redtext:hover{
			color:black;
		}

		.registertitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
		}

		.inputregister{
			
			background-color: rgb(88, 88, 88);
			width: 95%;
		}

		.labels{
			font-size: 16px;
		}

    

    

    .centerbtn { 
       justify-content: center; 
      }


      .box {
  width: 40%;
  margin: 0 auto;

  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid grey;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #8C1213;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  margin-left: 200px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  float: left;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8C1213;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.center{
	text-align: center;
}
.bold{
	font-weight: bolder;
}

			
	</style>
</head>

<body>

		<div class="bigdivregister">

				<div class="imgdivregister">

			

					</div>

					<div class="registerdivform">
              <div class="container-register100">

                  <div class="wrap-register100 " >
                    
                      
                      
                      <span class="intro-text" style="text-align: center;">
                          <h1 class="registertitle">PEDIDO DE ADOÇÃO </h1>
                          <br>
                      </span>
                      <p class="intro-text" style="text-align: center;">Preencha o formulário abaixo para efetuar o pedido de adoção.</p>
                      <br>
                      <div class="box">
                          <a class="button" href="#popup1">Ajuda</a>
                        </div>
                        
                        <div id="popup1" class="overlay">
                          <div class="popup">
                            <h2 class="center">Ajuda Pedido de Adoção</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                <br>
                                <p class="redtext">Todos estes campos são obrigatórios! </p>
            
                                <p class="bold">Cartão de Cidadão </p>
                                
                                Insira o seu número do cartão de cidadão (só os algarismos).</p>
                                
                                <p class="bold">Profissão</p>
                                
                                <p class="">Insira a sua profissão atual. </p>
                                
                              
                                
                               
                                <p class="bold"> Mora em que tipo de habitação?</p>
                                
                                <p class="">Diga qual o tipo de habitação em que o animal irá morar (ex. Apartamento, vivenda)</p>
                                
                                
                                
                                <p class="bold">Quando viajar, onde pensa deixar o animal?</p>
                                
                                <p class="">Onde irá deixar o animal se for viajar? Responda honestamente.</p>
                                <p class="bold">Se mudar de residência o que fará com o animal?</p>
                                
                                <p class="">O que fará com o animal se mudar de residência. Responda honestamente.</p>
                                <p class="bold">Tem consciência de que um animal pode viver até aos 10, 15, 18 anos? E que ao adoptá-lo, torna-se responsável por ele durante a sua vida toda ?</p>
                                
                                <p class=""> Responda "sim" se tiver a plena consciência da responsabilidade de ter um animal</p>
                            
                            
                            
                              </div>
                          </div>
                        </div>
                        <form class="login100-form validate-form" action="/adoption/createPreCondition" method="POST">
                      <div class="wrap-input100 ">
                          <input type="text" id="animal" name="animal" style="text-align: center;" class="input100" placeholder=""
                          value=<%=animal._id%> hidden />
                     <label style="text-align: center;" for="animal" >Nome do Animal: <%=animal.name %> </label>   
                     <label style="text-align: center;" for="userAdopt">Adotante: <%=user.name %></label> 
                     <input type="text" id="userAdopt" name="userAdopt" class="input100" placeholder=""
                       value=<%=user.email%>  hidden/>
                     <span class="focus-input100" data-placeholder=""></span>
                          <span class="focus-input100" data-placeholder=""></span>
                        </div>
            
                        
                          
                          <div class="wrap-input100 ">
                            <label for="cc">Número Cartão de Cidadão</label>
                            <input type="number" id="cc" name="cc" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="job">Profissão</label>
                            <input type="text" id="job" name="job" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="moreAnimals">Possui mais animais em casa?</label>
                            <select class="input100 inputregister" id="moreAnimals" name="moreAnimals">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="howMany">Se sim, quantos?</label>
                            <input type="number" id="howMany" name="howMany" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="species">Se sim, que espécies?</label>
                            <input type="text" id="species" name="species" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="money">É financeiramente estável?</label>
                            <select class="input100 inputregister" id="money" name="money">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="houseType">Mora em que tipo de habitação? (ex. Apartamento, vivenda)</label>
                            <input type="text" id="houseType" name="houseType" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                          
                          <div class="wrap-input100 ">
                            <label for="manyRooms">A sua habitação possui quantas divisões?</label>
                            <input type="number" id="manyRooms" name="manyRooms" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="houseSpace">Qual a área da residência aproximadamente?
                            </label>
                            <input type="number" id="houseSpace" name="houseSpace" class="input100 inputregister" placeholder="m²"
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="outerspace">Tem espaço exterior?</label>
                            <select class="input100 inputregister" id="outerspace" name="outerspace">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="familyPersons">Quantas pessoas constituem o seu agregado familiar?
                            </label>
                            <input type="number" id="familyPersons" name="familyPersons" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="travel">Quando viajar, onde pensa deixar o animal?</label>
                            <input type="text" id="travel" name="travel" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="changeHouse">Se mudar de residência o que fará com o animal?</label>
                            <input type="text" id="changeHouse" name="changeHouse" class="input100 inputregister" placeholder=""
                              value=""  />
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                          <div class="wrap-input100 ">
                            <label for="responsability">Tem consciência de que um animal pode viver até aos 10, 15, 18 anos? E que ao adoptá-lo, torna-se responsável por ele durante a sua vida toda ?</label>
                            <select class="input100 inputregister" id="responsability" name="responsability">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <span class="focus-input100" data-placeholder=""></span>
                          </div>
                
                
                          <div class="container-register100-form-btn centerbtn ">
							
                              <button type="submit" class="register100-form-btn btnregister" >
                                  Submeter Pedido
                              </button>
                  
                            </div>
                          </form>
                          </div>
                        
            
                      </div>
                      
                    </div>
            
                  </div>        
                      
</body> 

</html>

