
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<style>




table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #8C1213;
  border-style: solid;
  color: #FFFFFF;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #8C1213;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #8C1213;
}

th{
  color:  white;
  text-align: center;
}

td{
  color: grey;
  font-size: 16px;
}

input{
  background-color: lightgray;
  text-align: center;
}


button{
  background-color: lightgray;
  text-align: center;
}


.linkblack{
  color: black;
  text-decoration: underline;

}

.linkred{
  color: red;
  
}
.linkorange{
  color: orange;
  
}
.linkblue{
  color: lightseagreen;
  
}


a:hover{
color: grey;
}
</style>





<span class="intro-text" style="text-align: center;">
    <h1 class="registertitle">TODAS AS ADOÇÕES </h1>
<br>

</span>
<% include ../partials/messages %>


<br>
<br>
  <form method="POST" action="filtro">
      <label for="data">Filtrar por datas</label>
      <input type="date" id="filter1" name="filter1"  max= <%= new Date().toISOString().substring(0,10) %>  />
      <input type="date" id="filter2" name="filter2"  placeholder="" style="border-color: black ; border: 2px;" />

<button type="submit"> Filtrar</button>
</form>
<br>
<br>
<table class="customTable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Animal</th>
      <th>Adotante</th>
      <th>Responsável</th>
      <th>Data Adoção</th>
      <th>Status</th>
      <th>Formulário Pré-Adoção</th>
      <th>Acções</th>
    </tr>
  </thead>
 
    
  <tbody>
      <% if(list.length == 0){ %>
        <td></td>
        <td></td>
        <td></td>
        <td>Sem Resultados</td>
        <td></td>
        <td></td>
      <% }else{ %>
    <% for(var i=0; i < list.length; i++) { %>
    <tr>
      <td><%= list[i].adopt._id %></td>
      <td><%= list[i].animalName %></td>
      <td><%= list[i].userAdoptName %></td>
      <td><%= list[i].userWorkerName %></td>
      <td><%= new Date(list[i].adopt.adoptionDate).toISOString().substring(0,10) %></td>
      <td><%= list[i].adopt.adoptionStatus %></td>
      <td><a class="rolechange linkblack" href="adoptionPreConditionDetails/<%= list[i].adopt.preform %>">Formulário</a> </td>
      <td>
        <a class="rolechange linkblue" href="adoptionDetails/<%= list[i].adopt._id %>">Detalhes</a>
        <a class="rolechange linkred" href="delete/<%= list[i].adopt._id %>">Apagar</a>
          <a class="rolechange linkorange" href="updateAdoption/<%= list[i].adopt._id %>">Editar</a>
      </td>
    </tr>
    <% }%>
  </tbody>
  <% }%>
</table>