<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <style>
.centerbuttons{
        text-align: center;
      }
      .btnlogin{
			
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 5px;
			padding: 0;
      width: 100px;
		
		}

    .btnback{
			
			min-height: 100%;
			border:2px solid black;  
			background-color: black;
			margin: 70px;
			padding: 0;
      width: 400px;
		}

.divider1{
  width:50%;
  float:left;
}

.divider2{
  width:50%;
  float:right;
}


.blackButton {
  background-color: black;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.blackButton:hover {
  background-color:grey;
  color: black;
}

dd{
  background-color: grey;
  width:400px;
  text-align: center;
  color: white;
  padding: 8px;
  margin: 0 auto;
}

.bigdiv{
  background-color: lightgray;
}

  </style>


</head>

<body>
  



    <h1 style="text-align: center;">FORMULÁRIO DE PRÉ-ADOÇÃO</h1>



</br>
</br>
</br>
</br>
               
                
                <div class="col-md-auto bigdiv">
                    <div class="divider1" style="text-align: center;">
                    <dt>Animal</dt>
                    <dd><%= animalName %></dd> </br>
                    <dt>Adotante</dt>
                    <dd><%= username %></dd> </br>
                    <dt>Nº Cartão Cidadão</dt>
                    <dd><%= adoptform.cc %></dd> </br>
                    <dt>Profissão</dt>
                    <dd><%= adoptform.job %></dd> </br>
                    <dt>Possui mais animais em casa?</dt>
                    <dd><%= adoptform.moreAnimals %></dd> </br>
                    <dt>Se sim, quantos?</dt>
                    <dd><%= adoptform.howMany %></dd> </br>
                    <dt>Se sim, que espécies?</dt>
                    <dd><%= adoptform.species %></dd> </br>
                    <dt>É financeiramente estável?</dt>
                    <dd><%= adoptform.money %></dd> </br>
                  </div>
                    <div class="divider2" style="text-align: center;">
                    <dt>Mora em que tipo de habitação?</dt>
                    <dd><%= adoptform.houseType %></dd></br>
                    <dt>A sua habitação possui quantas divisões?</dt>
                    <dd><%= adoptform.manyRooms %></dd></br>
                    <dt>Qual a área da residencia?</dt>
                    <dd><%= adoptform.houseSpace %></dd></br>
                    <dt>Tem espaço exterior?</dt>
                    <dd><%= adoptform.outerspace %></dd></br>
                    <dt>Quantas pessoas constituem o seu agregado familiar?</dt>
                    <dd><%= adoptform.familyPersons %></dd></br>
                    <dt>Quando viajar, onde pensa deixar o animal?</dt>
                    <dd><%= adoptform.travel %></dd></br>
                    <dt>Se mudar de residência o que fará com o animal?</dt>
                    <dd><%= adoptform.changeHouse %></dd></br>
                    <dt>Tem consciência de que um animal pode viver até aos 10, 15, 18 anos? E que ao adoptá-lo, torna-se responsável por ele durante a sua vida toda ?</dt>
                    <dd><%= adoptform.responsability %></dd>
                  </br>
                </br>
                  </div>
                    
                    <%if (adopt.adoptionStatus === "pendente") { %>
                      <div>
                        <form class="login100-form validate-form" action="/adoption/update/analysis" method="POST">
                          <input type="hidden" id="adoptId" name="adoptId" class="input100" placeholder="" value="<%= adopt.id %>">
                          <button  class= "yellowButton" type="submit">Começar Análise</button>
                        </form>
                        
                        
                      </div> 
                     <% } %>
                    </br>
                  </br>
                </br>
                     <a class="login100-form-btn btnback centerbuttons" href="/adoption/adoptionList">Voltar</a>
                    
                    </div>   
        
               

  </body>

  </html>
  