<h1>Animais Adoptados</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Raça</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < list.length; i++) { %>
    <tr>
      <td><%= list[i].name %></td>
      <td>
        <%= list[i].age %>
      </td>
      <td><%= list[i].breed %></td>
    </tr>
    <% } %>
  </tbody>
</table>