<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">


	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-responsive.min.css" rel="stylesheet">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
	<link href="./css/font-awesome.min.css" rel="stylesheet">

	<link href="./css/adminia-1.1.css" rel="stylesheet">
	<link href="./css/adminia-1.1-responsive.css" rel="stylesheet">


	<link href="./css/pages/plans.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

	<div id="content">
		<div class="span9">
			<h1 class="page-title">
				<i class="icon-th-large"></i>
				A Minha Conta
			</h1>
			<div class="row">

				<div class="span9">

					<div class="widget">



						<div class="widget-content">



							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#1" data-toggle="tab">Informações da conta</a>
									</li>
									<li><a href="#2" data-toggle="tab">Mudar Password</a></li>
								</ul>

								<br>

								<% include ../partials/messages %>

								<div class="tab-content">
									<div class="tab-pane active" id="1">
										<form id="edit-profile" class="form-horizontal" action="/users/updateUser"
											method="POST">
											<fieldset>

												<div class="control-group">
													<label class="control-label" for="name">Nome</label>
													<div class="controls">
														<input type="text" class="input-medium" id="name" name="name"
															value="<%= user.name %>">

													</div> <!-- /controls -->
												</div> <!-- /control-group -->


												<div class="control-group">
													<label class="control-label" for="email">E-mail</label>
													<div class="controls">
														<input type="text" class="input-medium disabled" id="email"
															name="email" value="<%= user.email %>" disabled>
														<p class="help-block">O seu e-mail não pode ser alterado.</p>
													</div> <!-- /controls -->
												</div> <!-- /control-group -->


												<div class="control-group">
													<label class="control-label" for="birthdate">Data de
														Nascimento</label>
													<div class="controls">
														<input type="date" class="input-medium" id="birthdate"
															name="birthdate" value="<%= user.birthdate %>">
													</div> <!-- /controls -->
												</div> <!-- /control-group -->


												<div class="control-group">
													<label class="control-label" for="address">Morada</label>
													<div class="controls">
														<input type="text" class="input-large" id="address"
															name="address" value="<%= user.address %>">
													</div> <!-- /controls -->
												</div> <!-- /control-group -->

												<div class="control-group">
													<label class="control-label" for="contact">Contacto
														Telefónico</label>
													<div class="controls">
														<input type="text" class="input-large" id="contact"
															name="contact" value="<%= user.phone %>">
													</div> <!-- /controls -->
												</div> <!-- /control-group -->


												<br /><br />
												<div class="form-actions">
													<button type="submit" class="btn btn-primary">Save</button>
													<button class="btn">Cancel</button>
												</div> <!-- /form-actions -->

											</fieldset>
										</form>
									</div>

									<div class="tab-pane" id="2">
										<form id="edit-profile2" class="form-horizontal" action="/users/updatePassword"
											method="POST">
											<fieldset>


												<div class="control-group">
													<label class="control-label" for="password1">Password</label>
													<div class="controls">
														<input type="password" class="input-medium" id="password" name="password"
															value="password">
													</div> <!-- /controls -->
												</div> <!-- /control-group -->


												<div class="control-group">
													<label class="control-label" for="password2">Confirm</label>
													<div class="controls">
														<input type="password" class="input-medium" id="password2"
															value="password">
													</div> <!-- /controls -->
												</div> <!-- /control-group -->



												<br />


												<div class="form-actions">
													<button type="submit" class="btn btn-primary">Save</button>
													<button class="btn">Cancel</button>
												</div> <!-- /form-actions -->
											</fieldset>
										</form>
									</div>

								</div>


							</div>












						</div> <!-- /span9 -->

					</div> <!-- /row -->









				</div> <!-- /span9 -->






			</div> <!-- /content -->







			<!-- Le javascript