<!DOCTYPE html>
<html lang="en">

<body>
  <h1>Animais</h1>
  <a href="/animals/createAnimalReport" class="nav-link">Adicionar Ficha</a></li>
  <form action="/animals/sortLikes" method="POST">
    <div class="container-register100-form-btn centerbtn ">
      <button type="submit" class="register100-form-btn btnregister">
        Ordenar por pontos de fofura
      </button>
    </div>
  </form>

  <div class="searchdiv ">
  <form action="/animals/filter" method="POST">
    <label>Pesquisar por:</label>
    <select type="filter" id="filterType" name="filter"  style="width: 12%; color: black">
      <option value="name" style="color: black">Nome</option> 
      <option value="raca" style="color: black">Raça</option>
    </select>
    <input style="background-color: lightgray; border:1px solid grey;" type="input" id="input" name="input" placeholder=""/>
    <button type="submit">Pesquisar</button>
  </form>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Raça</th>
        <th>Adoptado</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < list.length; i++) { %>
      <tr>
        <td><%= list[i].name %></td>
        <td>
          <%= list[i].age %>
        </td>
        <td><%= list[i].breed %></td>
        <% if(list[i].adopted == true){ %>
        <td>Sim</td>
        <% }
         else{ %>
        <td>Não</td>
        <%} %>
        <td><%= list[i].likedUsers.length %></td>
        <td><a class="detailAnimalReport" href="/animals/detail/<%= list[i].id %>">Detalhes</a></td>
        <td><a class="editAnimalReport" href="/animals/edit/<%= list[i].id %>">Editar</a></td>
        <td><a class="deleteAnimalReport" href="/animals/delete/<%= list[i].id %>" class="login100-form-btn">Eliminar
          </a></td>
        <% } %>
    </tbody>
  </table>
</body>

</html>