<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
 
  <!--===============================================================================================-->
  <style>
 
    

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    label {
      font-size: 18px;
    }

    .input100 {
      font-size: 20px;
      background-color: grey;
      border: 2px black;
    }

    option {
      color: black;
    }

    .btnregister{
			width: 100%;
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 0;
			padding: 0;
			
		}
  </style>
</head>

<body>
  <div class="limiter">
    <div class="container-login100">

      <div class="wrap-login100">
        <% include ../partials/messages %>
        <form action="/animals/createAnimalReport" method="POST"
          encType="multipart/form-data">
          
          <span class="intro-text" style="text-align: center;color:#8C1213;">
            <h1 class="registertitle">CRIAR FICHA DE ANIMAL </h1>
            <br>
        </span>

          <div class="wrap-input100 validate-input" data-validate="Insira o Nome do Animal">
            <label for="name">Nome</label>
            <input class="input100" type="name" id="name" name="name"  placeholder=""
              value="<%= typeof name != 'undefined' ? name : '' %>" />
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 ">
            <label for="breed">Raça</label>
            <br>
            <select type="breed" id="breed" name="breed" class="input100">
              <% for(var i=0; i < list.length; i++) { %>
              <option value="<%= list[i].name%>"><%= list[i].name%></option>
              <% } %>
            </select><br>
          </div>

          <div class="wrap-input100 ">
            <label for="gender">Género</label>
            <br>
            <select type="gender" id="gender" name="gender" class="input100">
              <option value="male">Macho</option>
              <option value="female">Fêmea</option>
            </select><br>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Insira o ano">
            <label for="birthdate">Data de Nascimento</label>
            <input type="date" id="birthdate" name="birthdate" class="input100" placeholder=""
              value="<%= typeof birthdate != 'undefined' ? birthdate : '' %>" />
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 ">
            <label for="size">Porte</label>
            <br>
            <select type="size" id="size" name="size" class="input100">
              <option value="small">Pequeno</option>
              <option value="medium">Médio</option>
              <option value="large">Grande</option>
            </select><br>
          </div>

          <div class="wrap-input100 ">
            <label for="fur">Tipo de Pêlo</label>
            <br>
            <select type="fur" id="fur" name="fur" class="input100">
              <option value="small">Pequeno</option>
              <option value="medium">Médio</option>
              <option value="long">Comprido</option>
            </select><br>
          </div>
          <div class="wrap-input100 ">
            <label for="behavior">Comportamento</label>
            <br>
            <select type="behavior" id="behavior" name="behavior" class="input100">
              <option value="veryactive">Muito Ativo</option>
              <option value="active">Ativo</option>
              <option value="calm">Calmo</option>
              <option value="verycalm">Muito Calmo</option>
              <option value="playful">Brincalhão</option>
            </select><br>
          </div>
          <div class="wrap-input100 ">
            <label for="sociability">Sociabilidade</label>
            <br>
            <select type="sociability" id="sociability" name="sociability" class="input100">
              <option value="sociable">Sociável</option>
              <option value="shy">Tímido</option>
              <option value="aggressive">Agressivo</option>
            </select><br>
          </div>

          <div class="wrap-input100 ">
            <label for="dogFriendly">Amigável com cães</label>
            <input type="checkbox" name="dogFriendly" value="true"><br>
          </div>
          <div class="wrap-input100 ">
            <label for="catFriendly">Amigável com gatos</label>
            <input type="checkbox" name="catFriendly" value="true"><br>
          </div>
          <div class="wrap-input100 ">
            <label for="childFriendly">Amigável com crianças</label>
            <input type="checkbox" name="childFriendly" value="true"><br>
          </div>

          <div class="wrap-input100 ">
            <label for="inteligent">Inteligência</label>
            <br>
            <select type="inteligent" id="inteligent" name="inteligent" class="input100">
              <option value="high">Alta</option>
              <option value="reasonable" selected>Média</option>
              <option value="low">Baixa</option>
            </select><br>
          </div>
          <div class="wrap-input100 ">
            <label for="trainable">Treinável</label>
            <br>
            <select type="trainable" id="trainable" name="trainable" class="input100">
              <option value="very">Muito</option>
              <option value="reasonable" selected>Razoável</option>
              <option value="not">Pouco</option>
            </select><br>
          </div>

          <div class="wrap-input100 ">
            <label for="watchdog">É um cão de guarda?</label>
            <input type="checkbox" name="watchdog" value="true"><br>
          </div>
          <div class="wrap-input100 ">
            <label for="address">Descrição (Opcional)</label>
            <input type="description" id="description" name="description" class="input100" placeholder="">
            <span class="focus-input100" data-placeholder=""></span>
          </div>

          <div class="wrap-input100 ">
            <label for="animalPicture">Fotografia (Opcional)</label>
            <input type="file" id="animalPicture" name="animalPicture" class="input100" accept="image/jpeg" />
            <span class="focus-input100" data-placeholder=""></span>
          </div>


          <div class="container-register100-form-btn centerbtn ">
							
            <button type="submit" class="register100-form-btn btnregister" >
              Criar
            </button>

          </div>
          
          <br>
        </form>
      </div>
    </div>
  </div>

  

  

</body>

</html>