<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
  <style>
      
      .fas {
      font-size: 35px;
      cursor: pointer;
      user-select: none;
      color:#8C1213; 
    }

    .fas:hover {
      color: brown;
    }

    .far {
      font-size: 35px;
      cursor: pointer;
      user-select: none;
    }

    .far:hover {
      color: brown;
    }

   



      .btnlogin{
			
			min-height: 100%;
			border:2px solid #8C1213;  
			background-color: #8C1213;
			margin: 5px;
			padding: 0;
      width: 300px;
		
		}

    .btnback{
			
			min-height: 100%;
			border:2px solid black;  
			background-color: black;
			margin: 5px;
			padding: 0;
		
		}
      .whitetext {
          color: black;
          font-family: 'Quicksand', sans-serif;
          font-size:16px;
      }

      .detalhesanimal {
          font-family: "Pacifico";
          font-size: 40px;
          width: 100%;
          text-align: center;
          margin-top: 3%;
          color: #FFFFFF;
      }

     

      
      .animalNameDescAdopt {
          margin: 0 auto;
          width: 600px;
      }

      .animalimagecontainer {
          display: inline-block;
          
          padding: 10px;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
      }

      .animalmaindiv {
          display: flex;
          justify-content: center;
          padding: 3px;
          border-radius: 3px;
      }

          

      .animaldetails {
          
          padding: 10px;
          width: fit-content;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
      }

      
      .details {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
      }

      .bolddetails{
          font-weight: bolder;
          
      }

      

     
        .likesnumber{
          font-size: 35px;
          text-align: center;
        }  

      

      .btnsadotar {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: inherit;
          text-align:center;
          margin-top:10px;
          height:200px;
      }

      .btnsadotartotal {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: inherit;
          
          margin-top: 20px;
          
      }

      .animalimagesize{
          max-width:300px;
          max-height:500px;
      }

      .logintitle{
			font-family: 'Raleway', sans-serif;
			color: #8C1213;
      text-transform: uppercase;

     
		}
    .centerbuttons{
        text-align: center;
      }

.divider{
  width:100%;
}


.polaroid-images a
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}
.polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:30px;
}

.polaroid-images img { 
    display: block; 
    width: inherit; 
}


.caract-text{
	color:black;
	height:100px;
  font-size: 15px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bolder;
}

.caract-text1{
	color:black;
	
  font-size: 15px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bolder;
}

.caract-text2{
	color:black;
	height:100px;
  font-size: 15px;
  font-family: 'Noto Sans HK', sans-serif;
  
}

.left{
  width: 50%;
  float:left;
  margin-bottom: 40px;
}

.right
{
  padding-left: 30px;
  width: 50%;
  float:right;
  margin-bottom: 40px;
}

.caracttitle{
  font-size: 18px;
  font-family: 'Noto Sans HK', sans-serif;
  margin-bottom: 10px;
}

.divdetails{
  margin-bottom: 10px;
}
  </style>

</head>

<body>

  <!-- <div class="container-login100">

    <div class="wrap-login100">
      <% include ../partials/messages %>
      <img src='<%= (animal.picture) ? ("data:image/jpg;base64," + animal.picture) : "/images/logotipo.png" %>'
        style="width:150px;height:150px; " class="center">
      <dl style="font-size: 170%;">
        <% if(like != null){ %>
          <% if(like){ %>
          <form action="/animals/dislike" method="POST">
            <input name= id type= hidden value =<%= animal.id %>>
            <button class="fas fa-heart"> </button>
            <p> <%= animal.likedUsers.length %> </p>
          </form>
          <% }else{ %>
          <form action="/animals/like" method="POST">
            <input name=id type=hidden value=<%= animal.id %>>
            <button class="fas fa-heart-broken"> </button>
            <p> <%= animal.likedUsers.length %> </p>
          </form>
          <% } %>
        <% } %>
        <dt>Nome</dt>
        <dd><%= animal.name %></dd>
        <dt>Idade</dt>
        <dd><%= (new Date().toISOString().substring(0,4)) - (new Date(animal.birthdate).toISOString().substring(0,4)) %>
        </dd>
        <dt>Raça</dt>
        <dd><%= animal.breed %></dd>
        <dt>Género</dt>
        <% if(animal.gender == 'female'){ %>
        <dd>Fêmea</dd>
        <% }
                 else{ %>
        <dd>Macho</dd>
        <%} %>
        <dt>Porte</dt>
        <% if(animal.size == 'small'){ %>
        <dd>Pequeno</dd>
        <% }
                 else if(animal.size == 'medium'){ %>
        <dd>Médio</dd>
        <%} 
                else if(animal.size == 'large'){ %>
        <dd>Grande</dd>
        <%} %>
        <dt>Tipo de Pêlo</dt>
        <% if(animal.fur == 'small'){ %>
        <dd>Curto</dd>
        <% }
                 else if(animal.fur == 'medium'){ %>
        <dd>Médio</dd>
        <%} 
                else if(animal.fur == 'long'){ %>
        <dd>Comprido</dd>
        <%} %>
        <dt>Descrição</dt>
        <dd><%= animal.description %></dd>
      </dl>
      <div class="form-actions">
        <a href="/adoption/adoptionPreCondition/<%= animal._id %>" class="login100-form-btn">Adotar</a>
      </div>
      <br>
    </div>

  </div> -->






  

        
        

      <div>
      </div>
      <div class="animalmaindiv">
          <div class="animalimagecontainer">
              <div class="polaroid-images">
                  
                  <a href="" ><img style="width:300px;height:325px; " src='<%= (animal.picture) ? ("data:image/jpg;base64," + animal.picture) : "/images/logotipo.png" %>' /></a>    
                
      
           </div>
           <div class="polaroid-images">
           <% if(like != null){ %>
            <% if(like){ %>
            <form action="/animals/dislike" method="POST">
              <input name= id type= hidden value =<%= animal.id %>>
              
              <p class="likesnumber"> <button class="fas fa-heart"> </button> <%= animal.likedUsers.length %> </p>
            </form>
            <% }else{ %>
            <form action="/animals/like" method="POST">
              <input name=id type=hidden value=<%= animal.id %>>
              
              <p class="likesnumber"> <button class="far fa-heart"> </button> <%= animal.likedUsers.length %> </p>
            </form>
            <% } %>
          <% } %>
   
        </div>
              



          </div>
          
          <div class="animaldetails">
              <div class="animalNameDescAdopt whitetext">

              <span class="intro-text" style="text-align: center;">
                  <h1 class="logintitle"><%= animal.name %></h1>
                  
              </span>
            </div>
              <br>
              <img src="/images/divider.png" class="divider" />
              <br>
              <div class="animalNameDescAdopt whitetext">

                  <p style="text-align: center;"><%= animal.description %></p>

              </div>

              <br>
              <img src="/images/divider.png" class="divider" />
              <br>

              <div class="details">

                  
                <div class="left">
                    <span  class="caracttitle">Características Físicas</span>
                    <br>
                  <p class="whitetext">
                      <img src="/images/gender.png" style="margin-bottom: 10px;" />
                      <span class="caract-text">Género : </span> 
                      <% if(animal.gender ==='male'){ %>
                        <span class="caract-text2">Masculino</span>
                      <% } else{ %>  
                        <span class="caract-text2">Feminino</span>
                     <% } %>
                      
                  </p>

                  <p class="whitetext">
                      <img src="/images/hourglass.png" style="margin-bottom: 10px;"/>
                      <span class="caract-text"> Idade : </span> <span class="caract-text2"><%= animal.age %></span>
                  </p>

                  <p class="whitetext">
                      <img src="/images/dna.png" style="margin-bottom: 10px;"/>
                      <span class="caract-text">Raça : </span> <span class="caract-text2"><%= animal.breed %></span>
                  </p>

                  <p class="whitetext">
                      <img src="/images/ruler.png" style="margin-bottom: 10px;"/>
                      <span class="caract-text">Porte : </span> 
                      <%if (animal.size === 'large') { %>
                        <span class="caract-text2">Grande</span>
                        <% } %>
                      <%if (animal.size === 'medium') { %>
                          <span class="caract-text2">Médio</span>
                        <% } %>
                      <%if (animal.size === 'small') { %>
                            <span class="caract-text2">Pequeno</span>
                        <% } %>
                      
                  </p>

                  <p class="whitetext">
                      <img src="/images/grass.png" style="margin-bottom: 10px;"/>
                      <span class="caract-text">Tipo de Pêlo : </span> 
                      <%if (animal.fur === 'long') { %>
                        <span class="caract-text2">Comprido</span>
                        <% } %>
                        <%if (animal.fur === 'medium') { %>
                          <span class="caract-text2">Médio</span>
                        <% } %>
                        <%if (animal.fur === 'small') { %>
                          <span class="caract-text2">Pequeno</span>
                        <% } %>
                      
                  </p>

                  <!-- <p class="whitetext">
                      <img src="/images/hourglass.png" />
                      <span class="bolddetails">Comportamento : </span> <%= animal.behavior %>
                  </p> -->
                </div>
                <div class="right">
                    <span  class="caracttitle"> Características Psicológicas </span>
                    <br>
                  <p>  <span class="caract-text1"> Comportamento: </span>
                  <%if (animal.behavior === 'veryactive') { %>
                    <span class="caract-text2">Muito ativo</span>
                    <% } %>
                    <%if (animal.behavior === 'active') { %>
                      <span class="caract-text2">Ativo</span>
                    <% } %>
                    <%if (animal.behavior === 'calm') { %>
                      <span class="caract-text2">Calmo</span>
                    <% } %>
                    <%if (animal.behavior === 'verycalm') { %>
                      <span class="caract-text2">Muito Calmo</span>
                    <% } %>
                    <%if (animal.behavior === 'playful') { %>
                      <span class="caract-text2">Brincalhão</span>
                    <% } %>
                  </p>
                </br>
                  <p > <span class="caract-text1">Sociabilidade: </span>
                    <%if (animal.sociability === 'sociable') { %>
                      <span class="caract-text2">Sociável</span>
                      <% } %>
                      <%if (animal.sociability === 'shy') { %>
                        <span class="caract-text2">Tímido</span>
                      <% } %>
                      <%if (animal.sociability === 'aggressive') { %>
                        <span class="caract-text2">Agressivo</span>
                      <% } %>
                    </p>
                  </br>
                    <p class="caract-text1">Amigável com cães:
                      <%if (animal.dogFriendly === true) { %>
                        <span class="caract-text2"><img src="/images/success.png" width="20px" height="20px" /> </span>
                        <% } %>
                        <%if (animal.dogFriendly === false) { %>
                          <span class="caract-text2"><img src="/images/error.png"  /> </span>
                        <% } %>
                      </p>
                    </br>
                      <p class="caract-text1">Amigável com gatos:
                      <%if (animal.catFriendly === true) { %>
                        <span class="caract-text2"><img src="/images/success.png" width="20px" height="20px" /> </span>
                        <% } %>
                        <%if (animal.catFriendly === false) { %>
                          <span class="caract-text2"><img src="/images/error.png" width="20px" height="20px" /> </span>
                        <% } %>
                      </p>
                    </br>
                      <p class="caract-text1">Amigável com crianças:
                          <%if (animal.childFriendly === true) { %>
                            <span class="caract-text2"><img src="/images/success.png" width="20px" height="20px" /> </span>
                            <% } %>
                            <%if (animal.childFriendly === false) { %>
                              <span class="caract-text2"><img src="/images/error.png" width="20px" height="20px" /> </span>
                            <% } %>
                          </p>

                          


                </div>
                </div>


              
                <div class="btnsadotar">
                       <div class="form-actions ">
                            
                            <a href="/adoption/adoptionPreCondition/<%= animal._id %>" class="login100-form-btn btnlogin centerbuttons">Adotar</a>
                            <a class="login100-form-btn btnback centerbuttons" href="/animals/animalsToAdoptList">Voltar</a>
                          </div>
                  
                    
                </div>





          </div>
          
      </div>

     

      





      


</body>

</html>