<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
    <style>
        

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        label {
            font-size: 18px;
        }

        .input100 {
            
            border: 1px solid grey;
            border-radius: 20%;
            color: black;
        }

        option {
            color: black;
        }


    </style>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">
                <% include ../partials/messages %>
                <form class="login100-form validate-form" action="/animals/edit" method="POST" encType="multipart/form-data">
                    <img src='<%= (animal.picture) ? ("data:image/jpg;base64," + animal.picture) : "/images/logotipo.png" %>'
                        style="width:150px;height:150px; " class="center">
                    <span class="login100-form-title p-b-34 p-t-27">
                        Editar Ficha
                    </span>

                    <input type="hidden" id="id" name="id"  placeholder=""
                    value="<%= animal.id %>" />
                    
                    <div class="wrap-input100 validate-input">
                        <label for="name">Nome</label>
                        <input type="text" id="name" name="name"  placeholder=""
                            value="<%= animal.name %>" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="">
                        <label for="birthdate">Data de Nascimento</label>
                        <input type="date" id="birthdate" name="birthdate" class="input100" placeholder=""
                            value="<%= new Date(animal.birthdate).toISOString().substring(0,10) %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="wrap-input100 ">
                        <label for="breed">Raça</label>
                        <br>
                        <select type="text" id="breed" name="breed" class="input100">
                            <% for(var i=0; i < list.length; i++) { %>
                            <option value="<%= list[i].name %>" <%= list[i].breed== animal.breed ? 'select' : ''%>>
                                <%= list[i].name %></option>
                            <% } %>
                        </select><br>
                    </div>

                    <div class="wrap-input100 ">
                        <label for="breed">Género</label>
                        <br>
                        <select class="input100" id="gender" name="gender">
                            <option value="male" <%= animal.gender== 'male' ? 'selected' : ''%>>Macho</option>
                            <option value="female" <%= animal.gender == 'female' ? 'selected' : ''%>>Fêmea</option>
                        </select><br>
                    </div>
                    <div class="wrap-input100 ">
                        <label for="size">Porte</label>
                        <br>
                        <select type="size" id="size" name="size" class="input100">
                            <option value="small" <%= animal.size == 'small' ? 'selected' : ''%>>Pequeno</option>
                            <option value="medium" <%= animal.size == 'medium' ? 'selected' : ''%>>Médio</option>
                            <option value="large" <%= animal.size == 'large' ? 'selected' : ''%>>Grande</option>
                        </select><br>
                    </div>

                    <div class="wrap-input100 ">
                        <label for="fur">Tipo de Pêlo</label>
                        <br>
                        <select type="fur" id="fur" name="fur" class="input100">
                            <option value="small" <%= animal.fur == 'small' ? 'selected' : ''%>>Curto</option>
                            <option value="medium" <%= animal.fur == 'medium' ? 'selected' : ''%>>Médio</option>
                            <option value="long" <%= animal.fur == 'long' ? 'selected' : ''%>>Comprido</option>
                        </select><br>
                    </div>

                    <div class="wrap-input100 ">
                        <label for="description">Descrição (Opcional)</label>
                        <input type="text" id="description" name="description" class="input100" placeholder=""
                            value="<%= animal.description %>" />
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="wrap-input100 ">
                        <label for="animalPicture">Fotografia (Opcional)</label>
                        <input type="file" id="animalPicture" name="animalPicture" class="input100" accept="image/jpeg" />
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Editar
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>

</body>

</html>
