<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<style>
  .logintitle {
    font-family: 'Raleway', sans-serif;
    color: #8C1213;
  }

  .animal-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 250px;
    display: inline-block;
    margin: 10px;

  }

  .imgcontainer {
    position: relative;
  }

  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.274);
    color: #8C1213;
    padding: 5px;
  }

  .w3-container {
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .animalname {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  a {
    font-family: Poppins-Regular;
    font-size: 17px;
  }



  .animal-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
  }

  .centerbtn {
    display: flex;
    justify-content: center;
  }

  .btnregister {
    width: 30%;
    min-height: 100%;
    border: 2px solid #8C1213;
    background-color: #8C1213;
    margin: 0;
    padding: 0;

  }
</style>

<body>
  <span class="intro-text" style="text-align: center;">
    <h1 class="logintitle">OS MEUS FAVORITOS </h1>
    <br>
  </span>

  <form action="/animals/sortLikesToAdopt" method="POST">
    <div class="container-register100-form-btn centerbtn ">
      <button type="submit" class="register100-form-btn btnregister">
        Ordenar por pontos de fofura
      </button>
    </div>
  </form>

  <!-- <div class="searchdiv ">
  <form action="/animals/filterToAdopt" method="POST">
    <label>Pesquisar por:</label>
    <select type="filter" id="filterType" name="filter"  style="width: 12%; color: black">
      <option value="name" style="color: black">Nome</option> 
      <option value="raca" style="color: black">Raça</option>
    </select>
    <input style="background-color: lightgray; border:1px solid grey;" type="input" id="input" name="input" placeholder=""/>
    <button type="submit">Pesquisar</button>
  </form>
</div> -->
  <!-- <table class="table">
  <thead>
    <tr>
        <th>Fotografia</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Raça</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < list.length; i++) { %>
    <tr>
        <td><img src= '<%= (list[i].picture) ? ("data:image/jpg;base64," + list[i].picture) : "/images/logotipo.png" %>' style="width:250px;height:250px; " class="center"></td>
      
      <td><a class="detailAnimalReport" href="detail/<%= list[i].id %>"><%= list[i].name %></a></td>
      <td>
        <%= list[i].age %>
      </td>
      <td><%= list[i].breed %></td>
      <td><a class="detailAnimalReport" href="detail/<%= list[i].id %>">Detalhes</a></td>

    </tr>
    <% } %>
  </tbody>
</table> -->

  <div class="div-animal">
    <% for(var i=0; i < list.length; i++) { %>

    <div class="animal-card">


      <div class="imgcontainer">
        <a href="detail/<%= list[i].id %>">
          <img class="animalimg"
            src='<%= (list[i].picture) ? ("data:image/jpg;base64," + list[i].picture) : "/images/logotipo.png" %>'
            alt="animal" style="width:250px;height:250px;">
        </a>
        <div class="bottomright">
          <img src="/images/like.png" style="width:17px;height:17px;"> &nbsp <%= list[i].likedUsers.length %>
        </div>

      </div>

      <div class="w3-container">
        <a class="animalName" href="detail/<%= list[i].id %>"><%= list[i].name %></a>
        <% if(list[i].gender === "female"){ %>
        <img src="/images/female.png" style="width:15px;height:15px;">
        <% } else{ %>
        <img src="/images/male.png" style="width:15px;height:15px;">
        <% } %>


      </div>
    </div>
    <% } %>

</body>

</html>